@model Specialty.Domain.Models.DirectEnrolmentUnit

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/grid.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/checkbox.css" rel="stylesheet" type="text/css"/>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/Tree.js"></script>
    <script>
        var fullyChecked = []

        $(document).ready(function () {
            tree("root", "/SpecialtyApplication/GetDirectChildren")

            $('#root').change(function (eventObj) {
                fullyChecked = []
                var target = $(eventObj.target)
                var childInputs = target.parent().find("input")
                childInputs.prop("checked", target.prop("checked"))
                checkParents(target)
                collectFullyChecked($("#rootInput"))
                $.ajax({
                    type: 'POST',
                    url: "/SpecialtyApplication/TakeSelectedNodes",
                    data: JSON.stringify(fullyChecked),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: nodesSelected
                })
            })

            $("#course").change(function () {
                var selectedId = $(this).find(":selected").prop("id")
                sendRequest({ course: selectedId }, formsLoaded)
            })

            $("#form").change(function () {
                var selectedId = $(this).find(":selected").prop("id")
                sendRequest({ course: $("#course").find(":selected").prop("id"), formId: selectedId }, termsLoaded)     
            })

            $("#term").change(function () {
                var selectedId = $(this).find(":selected").prop("id")
                sendRequest({
                    course: $("#course").find(":selected").prop("id"),
                    formId: $("#form").find(":selected").prop("id"),
                    termId: selectedId
                }, paymentsLoaded)
            })

            $("#payment").change(function () {
                var selectedId = $(this).find(":selected").prop("id")
                sendRequest({
                    course: $("#course").find(":selected").prop("id"),
                    formId: $("#form").find(":selected").prop("id"),
                    termId: $("#term").find(":selected").prop("id"),
                    paymentId: selectedId
                }, namesLoaded)
            })
        })

        function nodesSelected(data, status, xhr) {
            sendRequest(JSON.stringify(""), coursesLoaded)
        }

        function coursesLoaded(data, status, xhr) {
            handleHtml(data, "course", null, null)
        }

        function formsLoaded(data, status, xhr) {
            handleHtml(data, "form", "id", "fullName")
        }

        function termsLoaded(data, status, xhr) {
            handleHtml(data, "term", "id", "fullName")
        }

        function paymentsLoaded(data, status, xhr) {
            handleHtml(data, "payment", "id", "fullName")
        }

        function namesLoaded(data, status, xhr) {
            handleHtml(data, "name", "id", "fullName")
        }

        function handleHtml(data, controlId, id, text)
        {
            $("#" + controlId).children().remove();
            $("#" + controlId).append("<option id=\"0\">--</option>");
            for (key in data) {
                var object = data[key];
                var elementId = id == null ? object : object[id]
                var content = text == null ? object : object[text]
                $("#" + controlId).append("<option id=" + elementId + ">" + content + "</option>")
            }
            $("#" + controlId).trigger("change")
        }

        function sendRequest(data, callback) {
            $.ajax({
                type: 'GET',
                url: "/SpecialtyApplication/GetAvailableCategories",
                data: data,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: callback
            })
        }

        function collectFullyChecked(input) {
            if (isFullyChecked(input)) {
                fullyChecked.push(input.parent().prop("id"))
            } else {
                input.parent().children("ul").children("li").children("input").each(function () {
                    collectFullyChecked($(this))
                })
            }
        }

        function isFullyChecked(target) {
            return target.parent().find("input").length == target.parent().find("input:checked").length
        }
    </script>
</head>
<body>
    <div class="panel panel-success"> 
        <div class="panel-heading text-center"><h4>Подача заявления на специальность</h4></div>
        <div class="panel-body">
            <div class="form-group">
                <label>Выберите места подачи заявок</label>
                <ul class="Container" id="root">
                    <li id="0" class="Node IsRoot IsLast ExpandClosed">
                        <div class="Expand"></div>
                        <input id="rootInput" type="checkbox"/>
                        <div class="Content">Места</div>
                        <ul class="Container"></ul>
                    </li>
                </ul>
            </div>
            <div class="form-group">
                <label>Курс</label>
                <select class="form-control" id="course"><option id="0">--</option></select>
            </div>
            <div class="form-group">
                <label>Форма обучения</label>
                <select class="form-control" id="form"><option id="0">--</option></select>
            </div>
            <div class="form-group">
                <label>Срок обучения</label>
                <select class="form-control" id="term"><option id="0">--</option></select>
            </div>
            <div class="form-group">
                <label>Форма оплаты</label>
                <select class="form-control" id="payment"><option id="0">--</option></select>
            </div>
            <div class="form-group">
                <label>Название</label>
                <select class="form-control" id="name"><option id="0">--</option></select>
            </div>
        </div>
    </div>
</body>
</html>
